.Button {
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: none;
  outline: none;
}

.dropDown {
  position: absolute;
  transform: translate(50%, 50%);
  background-color: #b567fd;
  right: 0;
  bottom: 0;
  width: 3.3rem;
  box-shadow: 3px 4px 10px #918f8f;
}

.dropDown:hover {
  filter: contrast(1.5);
}

.add {
  background-color: #8500ff;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 4rem;
  animation: fade-in 1000ms forwards ease-in;
  box-shadow: 3px 4px 10px #918f8f;
}

.add:hover {
  filter: contrast(4);
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back {
  background-color: transparent;
  width: 70px;
  transform: translateX(10px);
  transition: filter 300ms ease-out,
    transform 300ms ease-out;
}

.back:hover {
  transform: translateX(0);
  filter: drop-shadow(0 0 3px #aa69e78d);
}
