.book {
  flex-basis: fit-content;
}

.img-box {
  position: relative;
  width: fit-content;
}

.book img {
  height: 20vh;
  aspect-ratio: 0.75;
  box-shadow: 2px 5px 10px #918f8f;
}

.book h3 {
  margin-block: 1.5rem 0;
  max-width: 15rem;
}
.book p {
  margin: 0.2rem 0 0;
  color: #9e9e9e;
}

.book p:first-of-type {
  margin-top: 0.5rem;
}
